.DS_Store
node_modules/
/dist/
src/firebase/init.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
functions/node_modules
functions/.gitignore
notes.txt


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
